html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
}

.mapboxgl-ctrl-group button {
    height: 40px;
    width: 40px;
}

.mapbox-gl-draw_line {
    background-image: url('icons/ruler.svg');
    background-size: 25px;
}

.mapbox-gl-draw_polygon {
    background-image: url('icons/area.svg');
    background-size: 25px;
}

.mapbox-gl-draw_trash {
    background-size: 25px;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-geolocate .mapboxgl-ctrl-icon {
    background-size: 35px;
}

.popup-table tr:nth-child(even) {
    background-color: rgb(238, 238, 238);
}

.popup-table td {
    padding: 2px 5px;
}
